<style>
    footer {
        width: 100%;
        display: flex;
        position: relative;
        padding: 30px;
        justify-content: center;
        align-items: center;
        background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    }

    .copyright {
        color: #fff;
        font-size: 20px;
    }

    .copyright a {
        color: #fff;
        font-weight: 500;
        text-decoration: none;
    }

    .copyright a:hover {
        text-decoration: underline;
    }
</style>

<footer>
    <span class="copyright">
        Được phát triển bởi <a href="https://aboutmeobeo.netlify.app/" target="_blank">meobeo</a>
    </span>
</footer>