<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truy cập bị từ chối</title>
    <link href="/assets/bs5/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5 text-center">
        <h2 class="text-danger">Truy cập bị từ chối</h2>
        <p><%= message %></p>
        <a href="/dashboard" class="btn btn-primary mt-3">Quay về Dashboard</a>
    </div>
</body>

</html>
