<div class="container center-content" style="text-align: center;">
    <h1 class="display-4 fw-bold mb-4">Chào mừng bạn đã quay lại Mini-supermarket</h1>
    <button onclick="toggleSidebarMenu()" class="btn btn-primary btn-lg" style="margin: auto; display: block;">Bắt đầu
        làm việc thôi</button>
</div>