<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/assets/bs5/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/icons/cart-shopping-solid.svg" type="image/x-icon">
    <script src="/assets/swal2/swal2.js"></script>
    <script src="/assets/jquery/jquery.js"></script>
</head>

<body>
    <%- include('partials/header') %>

    <div class="space-div"></div>

    <main>
        <%- body %>
    </main>

    <%- include('partials/footer') %>
</body>

<script src="/assets/bs5/bootstrap.bundle.min.js"></script>

</html>