<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/assets/bs5/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Thêm danh mục mới</h1>

        <!-- Form thêm danh mục -->
        <form action="/categories/new" method="POST">
            <div class="mb-3">
                <label for="category" class="form-label">Tên danh mục:</label>
                <input type="text" id="category" name="category" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Thêm danh mục</button>
        </form>
    </div>
    <script src="/assets/bs5/bootstrap.bundle.min.js"></script>
</body>
</html>
